*{
        box-sizing:border-box;
        margin:0;
        padding:0;
}
.logo img{
    width: 150px;
    height:auto;
}
nav{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    margin:10px 10px;
}
nav ul{
    display:flex;
    flex-direction:row;
    list-style:none;
    gap:30px;
    margin:30px 0;
}
nav ul a{
    text-decoration:none;
    font-size:16px;
    color:#2B2B2B;
    cursor:pointer;
    transition:all 0.3s ease-out;
}
nav ul a:hover{
    color:#7A3B2E;
}

.mega-space{
    position:relative;
}
.mega{  
    display:block;

}
.mega:hover .mega-menu{
    display:grid;
}
.mega-menu{
    position:absolute;
    display:none;
    padding:20px;
    background-color:#2B2B2B;
    line-height:1.6;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    left:0;
    right:0;
    
}
.mega-menu a{
    color:#D9D2C9;
    transition:all 0.1s ease;
}
.mega-menu a:hover{
    color:#E8C39E;
    font-size:16.5px;
}
.arrow {
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
    transition: transform 0.3s ease;
}
.mega:hover .arrow {
    transform: rotate(180deg);
}
